<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle
    Name="Iderma Capilar App"
    Manufacturer="Piero Zavala Ayala"
    Version="1.2.0"
    UpgradeCode="a1c4e8b2-7d93-4f20-8b15-6e9c0d3a5f18"
    IconSourceFile="..\img\logo.ico"
    Compressed="yes"
    DisableModify="yes">
    <Variable Name="LaunchTarget" Value="[ProgramFiles64Folder]Iderma Capilar App\IdermaCapilarApp.exe" />
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        LicenseFile="License.es-ES.rtf"
        LogoFile="logo.png"
        Theme="rtfLicense"
        LocalizationFile="es-ES.wxl"
        ShowVersion="yes"
        SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <util:RegistrySearch
      Id="VCRedistMajor"
      Variable="VCRedistMajor"
      Root="HKLM"
      Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64"
      Value="Major"
      Bitness="always64" />

    <util:RegistrySearch
      Id="WebView2Pv"
      Variable="WebView2Pv"
      Root="HKLM"
      Key="SOFTWARE\WOW6432Node\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}"
      Value="pv"
      Bitness="always64" />

    <Chain>
      <ExePackage
        Id="VcRedist"
        DisplayName="Microsoft Visual C++ 2015-2022 (x64)"
        SourceFile="redist\vc_redist.x64.exe"
        Permanent="yes"
        Vital="yes"
        DetectCondition="VCRedistMajor &gt;= 14"
        InstallArguments="/install /quiet /norestart"
        RepairArguments="/repair /quiet /norestart"
        UninstallArguments="/uninstall /quiet /norestart" />
      <ExePackage
        Id="WebView2"
        DisplayName="Microsoft Edge WebView2"
        SourceFile="redist\MicrosoftEdgeWebview2Setup.exe"
        Permanent="yes"
        Vital="no"
        DetectCondition="WebView2Pv &lt;&gt; &quot;&quot;"
        InstallArguments="/silent /install" />
      <MsiPackage
        Id="AppMsi"
        DisplayName="Iderma Capilar App"
        SourceFile="bin\Release\es-ES\IdermaCapilarApp.msi"
        Vital="yes"
        Compressed="yes"
        Visible="no" />
    </Chain>
  </Bundle>
</Wix>
